    .col {
      transition: all 0.3s ease-in-out;
      border-radius: 10px;
    }

    .col:hover {
  transform: translateY(-6px);
  box-shadow: rgba(0, 0, 0, 0.15);
    }
    

    body{
        background-color: rgb(236, 236, 236);
    }